#board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 10px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
}

.cell:nth-child(3n+1) {
    margin-right: 0;
}

.cell:nth-child(-n+3) {
    margin-top: 0;
}

#status {
    font-size: 2em;
    margin-bottom: 10px;
}

#restart-button {
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}
